In [1]:
import pandas as pd
lst = [{"C1": 1,"C2":2},{"C1": 5, "C2": 10, "C3": 20}]
print(pd.DataFrame(lst,index = ["R1","R2"]))

    C1  C2    C3
R1   1   2   NaN
R2   5  10  20.0

In [2]:
dc = {"C1":["1","3"],
      "C2":["2","4"]}
print(pd.DataFrame(dc,index=["R1","R2"]))

   C1 C2
R1  1  2
R2  3  4

In [3]:
lst=[[50,30],[44,88]]
print(pd.DataFrame(lst,index=list('pq'),columns=list('ab')))

    a   b
p  50  30
q  44  88

In [4]:
df = pd.DataFrame([[0.23,'f1'],[5.36,'f2']],
                  index = list('pq'),
                  columns = list('ab'))
print(df)

      a   b
p  0.23  f1
q  5.36  f2

In [5]:
df.rename(columns={'a':'A'},inplace=True)
print(df)

      A   b
p  0.23  f1
q  5.36  f2

In [6]:
df.assign(c = [1,2])

      A   b  c
p  0.23  f1  1
q  5.36  f2  2

DataFrame Operations - Exercises

In [7]:
import numpy as np
df = pd.DataFrame([[18,10,5,11,-2],
                    [2,-2,9,-11,3],
                    [-4,6,-19,2,1],
                    [3,-14,1,-2,8],
                    [-2,2,4,6,13]],
                  index = list('pqrst'),
                    columns = list('abcde'))

#Filter all the two consecutive columns whose sum of individual elements is even. 
#Finally, save these columns into a new dataframe named new_df
#and extract the dataframe in an excel file named file_df.xlsx under Sheet 1.
new_df = df.apply(np.sum,axis=0)
print(new_df)

columns_sum_even = [False]*len(new_df)

for x in range(0,len(new_df)-1,2):
    if new_df[x]%2==0 and new_df[x+1]%2==0:
        columns_sum_even[x] = True
        columns_sum_even[x+1] = True
print(columns_sum_even)  

new_df = df[df.columns[columns_sum_even]]
print(new_df)
writer = pd.ExcelWriter('file_df.xlsx')
new_df.to_excel(writer, sheet_name='Sheet 1')

#Copy new_df dataframe into a new dataframe df_temp. 
#Append a new column named as 'm' to the df_temp dataframe which 
#defines the multiplication of each element in one row. 
#Save this dataframe in Sheet 2 of file_df excel file
df_temp = new_df.copy()
df_temp = df_temp.eval('m=c*d')
print(df_temp)
df_temp.to_excel(writer, sheet_name='Sheet 2')
writer.save()
writer.close()

a    17
b     2
c     0
d     6
e    23
dtype: int64
[False, False, True, True, False]
    c   d
p   5  11
q   9 -11
r -19   2
s   1  -2
t   4   6
    c   d   m
p   5  11  55
q   9 -11 -99
r -19   2 -38
s   1  -2  -2
t   4   6  24

In [8]:
#Selection Types
#Selection by Labels
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]], 
                    index = list('ABC'),
                    columns = list('DE'))
print(df)
print(df.loc[['A','C'],:])
#     D   E
# A  15  12
# C  10  32

print(df.loc[:,'E'])
# A    12
# B    54
# C    32
# Name: E, dtype: int64

print(df.loc['B', 'D'])
# 33

#Selection by Position
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df)
#     0   1
# 0  15  12
# 1  33  54
# 2  10  32

print(df.iloc[0:2,:]) 
#     0   1
# 0  15  12
# 1  33  54

print(df.iloc[:,0:1])
#     0
# 0  15
# 1  33
# 2  10

print(df.iloc[:,:])
#     0   1
# 0  15  12
# 1  33  54
# 2  10  32 


#Selection by Regular Expressions
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]], 
                    index = ['one','two','three'],
                    columns = ['col1', 'col2'])
print(df)
print(df.filter(regex='e$',axis=0))
print(df.filter(regex='^c',axis=1))

#Boolean Indexing
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df[df >= 15])
#       0     1
# 0  15.0   NaN
# 1  33.0  54.0
# 2   NaN  32.0

    D   E
A  15  12
B  33  54
C  10  32
    D   E
A  15  12
C  10  32
A    12
B    54
C    32
Name: E, dtype: int64
33
    0   1
0  15  12
1  33  54
2  10  32
    0   1
0  15  12
1  33  54
    0
0  15
1  33
2  10
    0   1
0  15  12
1  33  54
2  10  32
       col1  col2
one      15    12
two      33    54
three    10    32
       col1  col2
one      15    12
three    10    32
       col1  col2
one      15    12
two      33    54
three    10    32
      0     1
0  15.0   NaN
1  33.0  54.0
2   NaN  32.0

Data cleaning - Exercise

In [9]:
#Problem Statement:
#Consider Pittsburgh bridge dataset which consists of 108 instances and 13 attributes. Perform the listed tasks:
#Copy and save dataset to your local drive with name bridge.xlsx. 
#Since all the data is combined into 1 column, therefore, 
#write a python code using pandas to separate this data into distinct columns.

#Pittsburgh dataset is downloaded at C:\Downloads/bridges.version
from pandas import ExcelWriter
from pandas import ExcelFile
df = pd.read_csv(r'C:\Users\udhaya_thiagarajan\Downloads\bridges.version')

#2. Provide header to the dataframe with given values
df.columns = ['IDENTIF','RIVER', 'LOCATION', 'ERECTED', 'PURPOSE', 'LENGTH', 'LANES', 
  'CLEAR-G', 'T-OR-D', 'MATERIAL', 'SPAN', 'REL-L', 'TYPE']

#3. List names of the column(s) along with the count of missing number of values. 
#Here, missing values are coded with '?'.
#print(df.where(df.values=='?').count(axis=0))

#4. Find the column(s) names ending with either of the following 'N', 'H', 'S'.
#If the number of recorded data in these columns are less than 100, drop them.
df1= df.filter(regex='[NHS]$',axis=1)
temp = df1.where(df1!='?').count()<100

#print(df1.drop(df1.columns[temp.values],axis=1))

#5. Drop all the row(s) which have more than or equal to 2 missing values. 
#What is the shape of the final DataFrame?
temp = df.where(df=='?').count(axis=1)
temp = df.drop(df.index[temp.values>=2])
print(temp.median(axis=0))

#6.Fill all the remaining missing values with the median of each column values.
new_df= pd.DataFrame([df.columns])
#print(new_df)


#writer = pd.ExcelWriter(r'D:\Udhaya\LEX\PythonForDataScience\PythonDS-BridgeData.xlsx')
#df.to_excel(writer,sheet_name='Sheet1')


#writer.save()
#writer.close()

Series([], dtype: float64)

Merging

In [10]:
pd.Series(['a','b'])

0    a
1    b
dtype: object